<div class="container">
  <%= render 'categories/form' %>
</div>
<div class="row">
  <div class="col-md mt-3">
    <div>
      <b>household categories:</b>
    </div>
    <% @added_categories.each do |cat| %>
        <div>
          <%= cat.name %>
        </div>
    <% end %>
    <div id="new_category"></div>
  </div>
  <div class="col-md mt-3">
    <div>
      <b>also available:</b>
    </div>
    <% @also_categories.each do |cat| %>
        <div>

          <%= form_tag categories_add_to_household_path, remote: true, class: 'form-inline' do %>

              <%= hidden_field_tag :household_id, @household.id %>
              <%= hidden_field_tag :category_id, cat.id %>
              <%= hidden_field_tag :name, cat.name %>
              <span><%= submit_tag 'add', class: 'btn btn-sm btn-outline-secondary', style: 'font-size: 10px;' %></span>
              &nbsp;<%= cat.name %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
<div class="container" id="category">

</div>
