<div class="card mb-sm-3 mt-sm-3">
  <div class="card-body">
    <div>
      <b><%= month_name @monthly.month %> <%= @monthly.year %></b>
    </div>
  </div>
  <div class="card-body">
    <table class="table-responsive table-bordered table-sm">
      <tr>
        <th class="pr-md-3"><small>category</small></th>
        <th class="pl-md-3"><small>Summe</small></th>
      </tr>
      <% @catEx.each do |k, v| %>
      <tr>
        <td class="pr-md-3"><%= k %></td>
          <td class="text-right pl-md-3"><%= v %></td>
      </tr>
        <% end %>
    </table>

    <div class="mt-md-3">
      Summe: <%= fix_it(@monthly.bill) %>
    </div>

  </div>
</div>
