<div class="container" onload="fix(120, 3);">
  <div class="row">
    <div class="col-md">
      <h4><%= @household.name %></h4>
    </div>
    <div class="col-md">
      <%= link_to 'New Expense', new_household_expense_path %>
      <small><%= link_to 'edit household', household_path(@household) %></small>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md">
      <div id="new_expense" data-channel="new_expense" data-household-id="<%= @household.id %>"></div>
      <%= render 'expenses/expenses_table' %>
    </div>
    <div class="col-md">
      <%= render 'expenses/monthly', household_id: @household.id %>
    </div>
  </div>

  <div class="row">
    <!--<div class="col-md-2"><%#= link_to 'Show', expense %></div>

    <div class="col-md-2"><%#= link_to 'Destroy', expense, method: :delete, data: {confirm: 'Are you sure?'} %></div>
-->

  </div>
</div>

<br>

<script>
    function fix(amount, id) {
        console.log("SO EIN VERDAMMTER");
        console.log("amount: " + amount + ", id: " + id);
        //document.getElementById("amount-" + id).innerHTML = amount.toFixed(2);
    }

    window.onload = fix();
</script>
