<!DOCTYPE html>
<html>
<head>
  <title>Budgetmanagement</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-light">
<%= render 'shared/nav' %>

<div class="container">
  <br>
  <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
